@import "tailwindcss";
@import './fonts.css';
@import './globals.css';

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #3FFF7F;
}

.overlay {
  position: fixed;
  width: 200vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  pointer-events: none;
}
.overlay-2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  pointer-events: none;
}

.bar {
  width: 20vw;
  height: 100vh;
  background-color: black;

}
